#Ignorar los siguientes archivos
Analisis_Diseno_App_Clinica.pdf
Plan_5Meses_App_Clinica.pdf
Plan_Completo_App_Clinica.xlsx
Screenshot_20260619-161247.png
Glosario de terminos.docx
mapa de stakeholders.docx
Propuesta de necesidad y viabilidad.docx
visión del proyecto.docx
VisiónC.md
Borradores/
